* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #222;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0 0 20px #F48FB1;
}