body {
    background: #000;
}

.video-container {
    position: relative;
    width: 100%;
    height: 85%;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    text-shadow: 0 0 5px black;
}


.seat {
    margin-top: 20px;
    font-size: 50px;
}

/* 버튼 영역 */
.button-box {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #222;
}

.button-box button {
    padding: 18px 32px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: #F48FB1;
    color: #333;
    transition: 0.2s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.button-box button:hover {
    background: #F06292;
    color: white;
}

/* 모달 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    max-width: 90%;
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-title {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.modal-content label {
    display: block;
    margin-bottom: 12px;
    text-align: left;
    font-weight: bold;
}

.modal-content input {
    width: 92%;
    padding: 8px 10px;
    margin-top: 4px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.modal-content button {
    margin-top: 15px;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background: #F48FB1;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.modal-content button:hover {
    background: #F06292;
}

.modal-content h2.modal-title .close {
    position: absolute;
    right: -10px;
    top: -15px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: #F06292;
}

.admin-hint {
    color: #aaa;
    user-select: none;
    padding-bottom: 10px;
}