.wrap {
    width: 1000px;
    margin: 0 auto;
    color: #fff;
    position: relative;
}

.wrap h1 {
    text-align: center;
    padding: 30px 0;
}

.close {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 30px;
    background-color: #222;
    border: 0;
    color: #f48fb1;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 20px;
}

.game-box {
    display: flex;
    gap: 100px;
    padding: 20px;
    border: 1px solid #f48fb1;
    border-radius: 10px;
}

.game-title {
    font-size: 20px;
    font-weight: 500;
}

.game-desc {
    color: #eee;
}

.imgBox {
    width: 250px;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
}

.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}