@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    color: white;
    position: relative
}

/* 헤더 */
header {
    display: flex;
    width: 96%;
    margin: 0 auto;
    position: relative;
    padding-top: 30px;
    height: 8%;
    border-bottom: 1px solid #ccc;
}

.menu-ment {
    position: absolute;
    top: 50px;
    left: 40%;
    font-size: 20px;
}

.menu-xBtn {
    position: absolute;
    right: 20px;
    top: 30px;
    border: none;
    font-size: 30px;
    background-color: #222;
    color: #f48fb1;
}

/* 메인 */
main {
    width: 98%;
    height: 92%;
    margin: 20px auto;
    display: flex;
}

/* 왼쪽 */
aside {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.menu-nav {
    height: 80px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.nav-btns {
    font-size: 23px;
    padding: 10px 60px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to bottom, #f3c5d3, #F48FB1);
    font-family: 'Jua', sans-serif;
    cursor: pointer;
    transition: all linear 0.3s;
}

.nav-btns.on {
    background: linear-gradient(to bottom, #ffffff, #ffc0d5);
}

.nav-btns:hover {
    background: linear-gradient(130deg, #f8d3df, #F48FB1);
}

/* 메뉴 카드 */
.menu-menuBox {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 0.8fr);
    row-gap: 20px;
    column-gap: 20px;
    padding-bottom: 30px;
}

.menu-card {
    display: flex;
    flex-direction: column;
    background-color: #f48fb1;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 5px;
}

.menu-imgBox {
    width: 90%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
}

.menu-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-title {
    font-weight: 500;
    font-size: 20px;
}

#menu-select {
    padding: 5px 60px;
    border: 0;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

#menu-select:hover {
    box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.5);
    color: #222;
}

/* 오른쪽 */
.menu-bside {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 20px;
}

/* 고른 음식 */
.menu-bside-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0 20px;
}

.menu-bside-info {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 8px 10px 18px 10px;
    align-items: center;
    font-size: 17px;
}

.noneList {
    padding: 10px;
}

.menu-bside-info:last-child {
    border-bottom: none;
}

.menu-list-name {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#listName {
    font-size: 20px;
    font-weight: 555;
}

.menu-bside-qtyBox {
    display: flex;
    gap: 15px;
    align-items: center;
}

.menu-bside-qtyBox div {
    font-size: 18px;
}

.menu-bside-qtyBox button {
    padding: 5px 10px;
    border: 0;
    background-color: #fcc;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.menu-bside-price {
    padding-left: 30px;
}

#listPrice {
    font-weight: 500;
    font-size: 20px;
}

.menu-bside-remove {
    color: #fcc;
    font-size: 20px;
    cursor: pointer;
}

/* 총 주문금액 */
.menu-bside-total {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

#total {
    font-size: 20px;
    padding-right: 3px;
    color: #F48FB1;
}

/* 결제 수단 */
.howPay {
    margin-top: 50px;
}

.menu-bside-howPay {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

.howpayBtn {
    padding: 10px;
    font-size: 25px;
    border-radius: 8px;
    background-color: #f3c5d3;
    border: 0;
}

.howpayBtn:hover {
    background-color: #F48FB1;
}

.howpayBtn.on {
    background-color: #F48FB1;
    box-shadow: 3px 3px 5px rgba(255, 229, 242, 0.8);
}

/* 주문하기*/
#orderBtn {
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    background-color: #eee;
    border: 0;
}

#orderBtn:hover {
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.9);
}

/* 팝업 */
.popBox {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 47, 48, 0.7);
    color: #333;
    display: none;
}

.pop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px 40px;
    border: 5px solid #f48fb1;
    border-radius: 20px;
}

.pop p {
    margin: 20px 0;
}

.popBtn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.popBtn button {
    border: 0;
    padding: 10px;
    font-size: 18px;
    background-color: #F48FB1;
    border-radius: 10px;
    font-weight: 580;
}

.popBtn a {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}