.wrap {
    width: 1000px;
    margin: 0 auto;
    color: #fff;
    position: relative;
}

.wrap h1 {
    padding-top: 30px;
    text-align: center;
}

.close {
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 30px;
    background-color: #222;
    border: 0;
    color: #f48fb1;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 20px 0;
    color: #333;
    font-weight: 500;
}

.history-list {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 18px;
    background-color: #f48fb1;
    border-radius: 10px;
}

.history-total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

.history-qty {
    padding-left: 5px;

}

#history-totalPrice {
    font-size: 20px;
    color: #f48fb1;
    font-weight: 550;
    padding-right: 3px;
}